<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      Led Zeppelin Ⅱ
    </div>
  </div>
  <div class="light-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat-main">
  <div class="messages">
    <div class="upper-message">
      <div class="user-name">
        Led Zeppelin
      </div>
      <div class="message-date">
        2021/10/23 17:00:00
      </div>
    </div>
    <div class="under-message">
      <div class="message-content">
        Whole Lotta Love
      </div>
    </div>
  </div>
  <div class="messages">
    <div class="upper-message">
      <div class="user-name">
        Led Zeppelin
      </div>
      <div class="message-date">
        2021/10/23 17:00:00
      </div>
    </div>
    <div class="under-message">
      <div class="message-content">
        The Lemmon Song
      </div>
    </div>
  </div>
</div>
<div class="form">
  <div class="form-input">
    <input type="text" placeholder="type a message" class="form-message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="form-submit">
</div>
