<div class="side-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-main">
  <div class="room">
    <div class="room-name">
      <a href="#">Led Zeppelin Ⅰ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Led Zeppelin Ⅱ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Led Zeppelin Ⅲ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Led Zeppelin Ⅳ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Houses Of Holly</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Physical Graffiti</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Presence</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">In Through The Outdoors</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">CODA</a>
    </div>
  </div>
</div>